h1 New User

form(method="POST", action="/users")
	p
		label(for="username") Username<br />
		input#username(name="username")
	p
		label(for="name") Name<br />
		input#name(name="name")
	p
		label(for="email") Email<br />
		input#email(name="email")
	p
		label(for="password") Password<br />
		input#password(type="password", name="password")
	p
		label(for="bio") Bio<br />
		textarea#bio(name="bio")
	p
		input(type="submit", value="Create")