extends ../layout

block content    
 h1 Log in
 form(method="POST", action="/sessions")
  p
   label(for="username") User name:<br />
   input#username(name="username")
  p
   label(for="password") Password:<br />
   input#password(type="password", name="password")
  p
   input(type="submit", value="Log in")